html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* set default to 10 pixels; */
}

html,
body {
    height: 100%;
    background-color: black;
}

a {
    font-family: "source-serif-pro", serif;
    font-weight: 400;
    font-style: normal;
}

p {

    font-family: "Inter", sans-serif;
    font-optical-sizing: 80%;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}


img {
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(20%);
}



.desktop {
    display: flex;
    z-index: 2;
}

.mobile {
    display: none;
    z-index: 2;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;


}

.bg-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    height: 100%;
    z-index: 1;


}

.bg-img img {

    width: 280px;
    height: 210px;
    display: block;
}



/* .centered-text {
    font-size: 2vw;
    max-width: 80%;
} */

.type {

    color: white;
    font-size: 1.5rem;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

}

.boldtype {
    font-weight: 700;
    font-style: normal;
}

.italictype {
    color: white;
    font-weight: 400;
    font-style: italic;
}

.bads {


    font-family: "Inter", sans-serif;
    font-optical-sizing: 80%;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    color: white;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 6rem;
    /* background-color: black; */
    font-size: 5rem;
    text-align: center;
    margin: 0px;
    z-index: 4;
    text-decoration: underline;
}

footer {

    position: fixed;
    bottom: 0;
    color: #fff;
    padding: 1rem 1.5rem;
    text-align: center;
    z-index: 2;
    /* above bg */
}

footer .type {
    font-size: 1.3rem;
}


@media screen and (max-width: 899px) {

    .type {
        line-height: 1.66rem;
        padding-left: 5px;
        padding-right: 5px;
    }


    p {
        margin: 0;
    }
    .bads {
        font-size: 3.5rem;
        line-height: 5.6rem;
    }


    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}