html {
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    touch-action: pan-y;


}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
    background-color: #EFEFEF;
    /* background: #EFEFEF;
    background: linear-gradient(180deg, rgba(239, 239, 239, 1) 54%, rgba(255, 255, 255, 1) 88%); */
    padding-bottom: 12vh;
}




@font-face {
    font-family: "Overused Grotesk";
    src: url("../typefaces/OverusedGrotesk-VF.woff2") format("woff2-variations");
    font-weight: 800;
    font-stretch: 100%;
    font-style: oblique -10deg;
}



header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 2;
    /* background-color: #efefef; */
    /* background-color: #D3D3D3;
    border-bottom-style: solid;
    border-width: .1rem; */
    padding: 8px 5px 0px 5px;
    /* width: 10%; */
}


.titleCon {
    padding: 2vh 10px 0px 10px;
    border-bottom: 2 dotted rgb(215, 215, 215);
    padding-bottom: 15px;

}

.infoCon {
    padding: 10px;
    padding-top: 2vh;
    padding-bottom: 100px;

}


.paddedCon {
    padding: 10px;
    padding-top: 2vh;
    padding-bottom: 100px;

}

.paddedCon:nth-child(3) {
    padding-top: 0;
}

/* .paddedCon:nth-child(3) .title-type {
    border-bottom: 2 dotted rgb(215, 215, 215);
    padding-bottom: 15px;
  
} */

/* .paddedCon:not( :first-child)  {

} */




.paddedCon:not(:nth-child(3)) {
    border-top: 2 dotted rgb(215, 215, 215);
}

/* .paddedCon:nth-child(2) {
        padding-bottom: 60vh;

} */
.paddedCon:not(:nth-child(3)) h2 {
    color: #a0a0a0;
}

/* .paddedCon:not(:nth-child(2)):hover h1{
    color:black;
} */


.paddedCon:not(:nth-child(3)) h1 {
    color: rgb(213, 214, 212);

}

.paddedCon:not(:nth-child(3)) .title-line {
    color: rgb(196, 197, 195);
}


.paddedCon:nth-child(6) {
    padding-bottom: 20vh;
    border-bottom: 2 dotted rgb(215, 215, 215);
}

.paddedCon:nth-child(3) .body-box:nth-child(1) {
    padding-top: 13px;
    /* background-color: red; */
}


.body-box {
    padding-top: 11.5px;

}

.body-box h2 {
    animation: textChange 1s 1;
    animation-timing-function: steps(5, ease-in-out);

}

.paddedCon:nth-child(3) .body-box:nth-child(2) {
    padding-top: 11.5px;
}

.body-box:nth-child(2) {
    padding-top: 30px;
}

/* .body-box:nth-child(3) {
    padding-top: 20px;
} */

/* .body-box:nth-child(4) h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    padding-top: 20px;
    padding-bottom: 12.5px;
    font-style: italic;
    font-weight: 300;
    animation: textChangeitalic 1s 1;
    animation-timing-function: steps(5, ease-in-out);
    max-width: 48vw;
} */

.paddedCon:nth-child(3) .body-box:nth-child(3) h2 {
    padding-top: 20px;
    max-width: 45vw;
    /* background-color: red; */
}

.body-box:nth-child(4) h2 {
    max-width: 45vw;
    padding-top: 20px;
    /* padding-top: 15px; */
    /* color: #a0a0a0; */
    /* padding-bottom: 12.5px; */

}



.bg-photos {
    display: flex;
    right: 20vw;
    position: absolute;
    z-index: 1;
    opacity: 60%;

    background-color: #efefef;
    margin-top: -130px;
}



#hiddenPhoto0 {
    display: none;
}

#hoverText0:hover>#hiddenPhoto0 {
    display: flex;

    animation-name: test2;
    animation-duration: .7s;
    animation-timing-function: steps(4, end);

}


#hiddenPhotoPrime {
    display: none;
}

#hoverPrime:hover>#hiddenPhotoPrime {
    display: flex;

    animation-name: test2;
    animation-duration: .7s;
    animation-timing-function: steps(4, end);

}



#hiddenPhoto1 {
    display: none;
}

#hoverText1:hover>#hiddenPhoto1 {
    display: flex;

    animation-name: test2;
    animation-duration: .7s;
    animation-timing-function: steps(4, end);

}


#hiddenPhoto2 {
    display: none;
}

#hoverText2:hover>#hiddenPhoto2 {
    display: flex;

    animation-name: test2;
    animation-duration: .7s;
    animation-timing-function: steps(4, end);

}



#hiddenPhoto3 {
    display: none;
}

#hoverText3:hover>#hiddenPhoto3 {
    display: flex;

    animation-name: test2;
    animation-duration: .7s;
    animation-timing-function: steps(4, end);

}

#hiddenPhoto4 {
    display: none;
}

#hoverText4:hover>#hiddenPhoto4 {
    display: flex;

    animation-name: test2;
    animation-duration: .7s;
    animation-timing-function: steps(4, end);

}






@keyframes test2 {
    0% {

        opacity: 0%;
    }

    65% {
        opacity: 55%;
    }

    100% {

        opacity: 60%;
    }
}

.body-footer h2 {
    padding-top: 13px;
    font-family: "fig-serif", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -.05rem;
    line-height: 1.85rem;
    font-style: normal;
    max-width: 40vw;
}


h1 {
    font-family: "Overused Grotesk", sans-serif;
    line-height: 9.5rem;
    font-size: 10.667rem;
    letter-spacing: -2.5%;

}

.title-type h1 {
    max-width: 55vw;
    /* animation: titleChange 1s 1; */
    /* animation-timing-function: steps(5, jump-start); */
}

@keyframes titleChange {
    0% {
        opacity: 40%;
    }

    100% {
        opacity: 100%;
    }
}

h2 {
    font-family: "ibm-plex-serif", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* font-size: 2.75rem;
    letter-spacing: -.09rem;
    line-height: 3rem; */
    font-size: 2.5rem;
    letter-spacing: -.09rem;
    line-height: 3.3rem;
    max-width: 85vw;

    /* animation: textChange 1s 1;
    animation-timing-function: steps(5, ease-in-out); */

}

@keyframes textChangeitalic {
    0% {
        /* font-family: "fig-sans", sans-serif;
        font-weight: 400; */
        font-family: "fig-serif", sans-serif;
        font-weight: 400;
        font-size: 2.18rem;
        /* line-height: 2.5rem; */
        letter-spacing: -.06rem;
        font-style: italic;
        opacity: 40%;
    }

    25% {
        font-family: "fig-serif", sans-serif;
        font-weight: 400;
        /* line-height: 2.5rem; */
        font-size: 2.18rem;
        letter-spacing: -.06rem;
        font-style: italic;
    }

    100% {
        font-family: "ibm-plex-serif", sans-serif;
        opacity: 70%;
        font-style: italic;
    }
}


@keyframes textChange {
    0% {
        /* font-family: "fig-sans", sans-serif;
        font-weight: 400; */
        font-family: "fig-serif", sans-serif;
        font-weight: 400;

        /* font-size:2.66rem; */
        font-size: 2.42rem;
        letter-spacing: -.05rem;
        font-style: normal;
        opacity: 40%;
    }

    25% {
        font-family: "fig-serif", sans-serif;
        font-weight: 400;

        font-size: 2.42rem;
        letter-spacing: -.05rem;
        font-style: normal;
    }

    100% {
        font-family: "ibm-plex-serif", sans-serif;
        opacity: 70%;
    }
}

h3 {
    font-family: "inter-variable", sans-serif;
    font-size: 3rem;

    font-variation-settings:
        "wght" 500,
        "slnt" 0,
        "wdth" 80;

    letter-spacing: -0.075em;
    display: inline-block;
    transform: scaleX(0.75);
    transform-origin: left;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.archive {
    background-color: white;
    border-style: solid;
    border-width: .1rem;
    border-radius: 250rem;
    width: 90px;
    height: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin-top: 5px;
    margin-right: 2.5px;
}

.rules {

    /* transform: rotate(45); */
    background-color: white;
    border-style: solid;
    border-width: .2rem;
    border-radius: 250rem;
    width: 75px;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 76px;
    padding-right: 52.5px;
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 2.5px;
}

.rules h3 {
    font-variation-settings:
        "wght" 500,
        "slnt" 0,
        "wdth" 80;

}

.rules:hover {
    background-color: black;
    transition: background-color 0.35s;
    transition-timing-function: steps(4, end);
}

.rules:hover h3 {
    color: #D3D3D3;
    font-variation-settings:
        "wght" 420,
        "slnt" 0,
        "wdth" 80;

}

.home {
    background-color: white;
    border-style: solid;
    border-width: .2rem;
    border-radius: 250rem;
    width: 70px;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 76px;
    padding-right: 55px;
    margin-top: 9px;
    margin-left: 46px;
    z-index: -2;
}


.home h3 {
    font-variation-settings:
        "wght" 500,
        "slnt" 0,
        "wdth" 80;

}

.home:hover {
    background-color: black;
    transition: background-color 0.35s;
    transition-timing-function: steps(4, end);
}

.home:hover h3 {
    color: #D3D3D3;
    font-variation-settings:
        "wght" 420,
        "slnt" 0,
        "wdth" 80;

}

.b {
    position: fixed;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding-left: 45px; */
    margin-top: 5px;
    margin-left: 2px;
    left: 4px;
}

.b:hover {
    /* color:#EFEFEF;
    background-color: black; */
}

.link-hover {
    background-color: 'rgba(255, 69, 0,0)';
    font-style: italic;
    transition: background-color .35s;
    transition-timing-function: steps(4, end);

}

.link-hover h2 {
    text-decoration: line-through;
    transition: text-decoration .35s;
    transition-timing-function: steps(4, end);

}

.link-hover:hover {
    background-color: orangered;




}

.link-hover-dead {
    background-color: 'rgba(255, 69, 0,0)';
    font-style: italic;
    transition: background-color .35s;
    transition-timing-function: steps(4, end);

}

.link-hover-dead h2 {
    text-decoration: line-through;
    transition: text-decoration .35s;
    transition-timing-function: steps(4, end);

}

.link-hover-dead:hover {
    /* background-color: rgb(255, 225, 0); */
    background-color: rgb(196, 197, 195);
    /* background-color: rgb(255, 165, 187); */




}


.link-dead {
    background-color: 'rgba(255, 69, 0,0)';
    font-style: italic;
    transition: background-color .35s;
    transition-timing-function: steps(4, end);

}

.link-dead h2 {
    text-decoration: line-through;
    transition: text-decoration .35s;
    transition-timing-function: steps(4, end);

}

.link-dead:hover {
    /* background-color: #ffabeb; */
    background-color: rgb(255, 183, 165);




}


.link-dead-fr {
    background-color: 'rgba(255, 69, 0,0)';
    font-style: italic;
    transition: background-color .35s;
    transition-timing-function: steps(4, end);

}

.link-dead-fr h2 {
    text-decoration: line-through;
    transition: text-decoration .35s;
    transition-timing-function: steps(4, end);

}

.link-dead-fr:hover {
    /* background-color: #ffabeb; */
    /* background-color: rgb(255, 165, 187); */
    /* background-color: rgb(255, 244, 162); */
    /* background-color: rgb(219, 219, 219); */
    background-color: rgb(213, 214, 212);




}




.baddesignclub-header {
    z-index: -5;
    background-color: white;
    border-style: solid;
    border-width: 1pt;
    border-radius: 250rem;
    width: 27px;
    height: 273px;
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: 12px;
    left: 7.5px;


}

.svg {
    z-index: 7;
    position: fixed;
    top: 86.25vh;
}

.baddesignclub-header h3 {
    line-height: 0;

    font-family: "fig-serif", sans-serif;
    font-weight: 400;
    font-size: 2.175rem;
    font-style: normal;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -1rem;
    padding-top: 12px;
    padding-left: 16px;

}

#hidden {
    display: none;
    /* transition: height 3s; */
}

#dropdown:hover>#hidden {
    display: flex;
    animation-name: test;
    animation-duration: .7s;
    animation-timing-function: steps(4, end);

}

@keyframes test {
    0% {
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0%;
        background-color: black;
    }

    42.5% {
        background-color: white;
    }


    75% {
        transform-origin: top;
        transform: scaleY(.95);
        opacity: 95%;
    }

    100% {
        transform-origin: top;
        transform: scaleY(1);
        opacity: 100%;
    }
}

.baddesignclub {
    background-color: white;
    border-style: solid;
    border-width: .2rem;
    border-radius: 150rem;
    width: 160px;
    height: 27.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
    margin-top: 5px;
    margin-right: 2.5px;
}


footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding-right: 5px;
    /* right: 5px; */
    bottom: 10px;
    width: 100%;
    justify-content: flex-end;
    z-index: 6;
}

.handle {
    background-color: white;
    border-style: solid;
    border-width: .1rem;
    border-radius: 150rem;
    width: 175px;
    height: 27.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 47.5px;
    margin-right: 2.5px;
}

.handle:hover {
    background-color: black;
    transition: background-color ease 0.5s;
}

.handle:hover h3 {
    color: #EFEFEF;
}

.rule-box {
    display: flex;
    /* height: 80vh; */
    align-items: center;
    padding-top: 12.5px;
}

.rule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.rule-box h2 {
    font-family: "ibm-plex-serif", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* line-height: 4.5rem; */
    animation: textChange 1s 1;
    animation-timing-function: steps(5, ease-in-out);
}

/* .rule-box h2:first-child {
    line-height: 3rem;
    padding-bottom: 35px;
} */

.body-image {
    margin-top: 10px;

}

.body-image img {
    /* width: 400px; */

    max-width: 15vw;
    /* animation-name: imageAnimation;
    animation-duration: 1s;
    animation-delay: 2s; */
    filter: grayscale(.75);
    transition: filter ease 1.5s;
    animation-timing-function: steps(5, end);
    /* animation-timing-function: ease; */
}

.body-image img:hover {
    filter: none;

}

@keyframes imageAnimation {
    0% {
        opacity: 0%;
        filter: none;
    }

    100% {
        filter: grayscale(.75);
        opacity: 100%;
    }
}

/* @keyframes imageHoverAnimation {
    0% {
        filter: grayscale(.75)
    }

    100% {
        filter: none;
    }
} */

.archive-box {
    margin: -30px 0 -30px 0;

}

.archive-box h2 {
    position: relative;
    z-index: -5;
    font-family: "ibm-plex-serif", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 55.5pt;
}

.archive-image {
    margin-top: 15px;
    padding-top: 105px;
}

.archive-image img {
    width: 30%;
}


@media (min-width: 780px) {
    body {
        padding-bottom: 0;
    }


    .body-box h2 {
        max-width: 50vw;
    }

    /* 
    h1 {
        max-width: 35vw;
    } */


}

@media (min-width: 500px) and (max-width: 780px) {

    .rules:hover {
        background-color: black;
        transition: background-color 0.2s;
        transition-timing-function: ease-out;
    }

    header {
        border-width: .2rem;
    }

    .home {

        margin-left: 45px;
    }

    .rules {
        margin-left: 2.5px;
    }

    .home:hover {
        background-color: black;
        transition: background-color 0.2s;
        transition-timing-function: ease-out;
    }

    .title-type h1 {
        font-size: 7.8rem;
        line-height: 7.2rem;
    }

    .body-box {
        padding-top: 50px;
    }

    .body-box:nth-child(1) {
        padding-top: 30px;
    }


    .body-box h2 {
        max-width: 50vw;


    }

    h1 {
        max-width: 55vw;
    }

    .paddedCon:nth-child(3) .body-box:nth-child(3) h2 {
        max-width: 55vw;
        /* background-color: red; */
    }

    .body-box:nth-child(4) h2 {
        max-width: 55vw;
    }




    #hoverPrime:hover>#hiddenPhotoPrime {
        display: none;
    }

    #hoverText0:hover>#hiddenPhoto0 {
        display: none;


    }

    #hoverText1:hover>#hiddenPhoto1 {
        display: none;

    }

    #hoverText2:hover>#hiddenPhoto2 {
        display: none;

    }

    #hoverText3:hover>#hiddenPhoto3 {
        display: none;

    }


}

@media (min-width: 376px) and (max-width: 499px) {

    header {
        border-width: .2rem;
        /* flex-direction: row-reverse; */
    }

    .paddedCon {
        padding-bottom: 135px;
    }

    /* .home {
        margin-left: 37.5px;
    }

    .rules {
        margin-left: 5px;
    } */

    /* .home {
        margin-left: 5px;
        margin-right: 0px;
    }

    .rules {
        margin-left: 2.5px;
        margin-right: 0px;
    } */


    .title-type h1 {
        font-size: 7.8rem;
        line-height: 7.2rem;
        /* font-size: 6.6rem;
        line-height: 5.6rem; */
        max-width: 94vw;
    }



    .rules:hover {
        background-color: black;
        transition: background-color 0.2s;
        transition-timing-function: ease-out;
    }


    .home:hover {
        background-color: black;
        transition: background-color 0.2s;
        transition-timing-function: ease-out;
    }

    .body-box {
        padding-top: 17.5px;
    }

    .body-box:nth-child(2) {
        padding-top: 35px;
    }


    .body-box h2 {
        max-width: 70vw;
        /* font-size: 3.3rem;
        line-height: 3rem; */
        line-height: 3.25rem;
    }

    .body-box:nth-child(4) {
        padding-top: 2.5px;
    }

    .paddedCon:nth-child(3) .body-box:nth-child(3) h2 {
        max-width: 73vw;
        /* background-color: red; */
    }

    .body-box:nth-child(4) h2 {
        max-width: 73vw;

    }

    .body-footer h2 {
        max-width: 65vw;
    }

    .bg-photos {
        display: none;
    }


    #hoverPrime:hover>#hiddenPhotoPrime {
        display: none;
    }

    #hoverText0:hover>#hiddenPhoto0 {
        display: none;


    }

    #hoverText1:hover>#hiddenPhoto1 {
        display: none;

    }

    #hoverText2:hover>#hiddenPhoto2 {
        display: none;

    }

    #hoverText3:hover>#hiddenPhoto3 {
        display: none;

    }

    /* .rule-box h2 {} */
}


@media (max-width: 375px) {


    header {
        border-width: .2rem;
    }

    .paddedCon {
        padding-bottom: 135px;
    }


    .title-type h1 {
        font-size: 7rem;
        line-height: 6.7rem;
        /* font-size: 6.6rem;
        line-height: 5.6rem; */
        max-width: 94vw;

    }

    .rules:hover {
        background-color: black;
        transition: background-color 0.2s;
        transition-timing-function: ease-out;
    }



    .paddedCon:nth-child(6) {
        padding-bottom: 20vh;
        border-bottom: 1 dotted rgb(195, 195, 195);
    }


    .paddedCon:not(:nth-child(3)) {
        border-top: 1 dotted rgb(195, 195, 195);
    }


    .home:hover {
        background-color: black;
        transition: background-color 0.2s;
        transition-timing-function: ease-out;
    }

    .body-box {
        padding-top: 17.5px;
    }

    .body-box:nth-child(2) {
        padding-top: 30px;
    }


    .body-box h2 {
        max-width: 70vw;
        /* font-size: 3.3rem;
        line-height: 3rem; */
        line-height: 3.25rem;
    }

    .paddedCon:nth-child(3) .body-box:nth-child(3) h2 {
        padding-top: 5px;

        max-width: 70vw;
        /* background-color: red; */
    }

    .body-box:nth-child(6) h2 {

        padding-top: 5px;
        max-width: 70vw;
        /* padding-bottom: 12.5px; */



    }


    #hoverPrime:hover>#hiddenPhotoPrime {
        display: none;
    }

    #hoverText0:hover>#hiddenPhoto0 {
        display: none;


    }

    #hoverText1:hover>#hiddenPhoto1 {
        display: none;

    }

    #hoverText2:hover>#hiddenPhoto2 {
        display: none;

    }

    #hoverText3:hover>#hiddenPhoto3 {
        display: none;

    }

    #hoverText4:hover>#hiddenPhoto4 {
        display: none;

    }
}